.App {
  text-align: center;
}

.dashboard{
  width:30%;
  float: left;
  min-height: 220px;
  margin:5px;
  padding: 10px;
  text-align: left;
  border: 1px solid blue;
  border-radius: 5px;
  color:darkcyan;
}

.dashboard span{
  color: green;
  font-weight: bold;
  font-size: 20px;
}

section{
  width:80%;
  margin: 0 10%;
}